@if (TempData["successData"] != null)
{
    <h3 style="color:brown;">
        @TempData["successData"]
    </h3>


    @if (TempData["errorData"] != null)
    {
        <h3 class="text-danger">
            @TempData["errorData"]
        </h3>
    }
}